.slider {
  position: relative;
  overflow: hidden;
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin: 30px 15px;
}

.slider-window {
  overflow: hidden;
}

.slider-track {
  display: flex;
  transition: transform 0.35s steps(12);
}

.slide-image {
  width: 100%;
}

.slider-btn {
  width: 35px;
  height: 35px;
  border: 8px solid transparent;
  border-image: url(../language-button/images/border.png) 8 fill;

  background-repeat: no-repeat;
  background-position: center;
  transition:
    transform 0.25s steps(2),
    filter 0.15s;
}

.slider-btn:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 4px var(--accent));
}

.slider-btn-prev {
  background-image: url(../language-button/images/left-small.png);
}

.slider-btn-next {
  background-image: url(../language-button/images/right-small.png);
}

.slide {
  min-width: 100%;
}

.slider-dots {
  display: flex;
  gap: 10px;
}
.dot {
  width: 10px;
  height: 10px;
  border: 3px solid var(--accent);
  transition:
    transform 0.35s steps(2),
    filter 0.15s;
}

.dot:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 4px var(--accent));
  cursor: pointer;
}

.active {
  background-color: var(--accent);
}

.slider-title {
}

.slider-title-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.navigation-bar {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 8px solid transparent;
  border-image: url(../language-button/images/border.png) 8 fill;
}
